<div class="wrapper">
  <div class="devise shadow-icon">
    <div class="devise-title text-center">
      <h2>Edit your profile</h2>
    </div>
    <%= render "form" %>
    <hr>
    <%= link_to 'Back', profiles_path  %>
  </div>
</div>