// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Trello App

$primaryDark: #266EBA;;
$primaryLight: #73BFDF;
$secondary: #efefef;
$secondaryLight: #F4F4F4;
$contrastingSuccess: #73BFB8;
$contrastingDanger: #DE6449;
$contrastingWarning: #FEC601;
$contrastingInfo: #DD7596;


$greenblue: #2364AA;
$carolineblue: #3DA5D9;
$greensheen: #73BFB8;
$mikadoyellow: #FEC601;
$aliceblue: #EAF6FA;
$testcolor: #266EBA;
