// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Trello App

$primaryDark: #535657;
$primaryLight: #4F646F;
$secondary: #DEE7E7;
$secondaryLight: #F4FAFF;
$secondaryDark: #B7ADCF;
