body {
  background-color: $grayLight95;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.shadow-icon {
  filter: drop-shadow(0 4px 10px rgba(56, 21, 89, 0.3));
}
