<div class="banner">
  <div class="home-title">
    <h1>Découvrez Magic Freeboard</h1>
    <p>
      Gérez tous vos projets, programmes et processus, même les plus complexes.
    </p>
    <div class="cta">
      <%= link_to "Inscris toi", lists_path, class: "btn-cta" %>
    </div>
  </div>
</div>
