<section class="home-presentation container-fluid">
  <div class="home-title">
      <h1>Découvrez Magic Freeboard</h1>
  </div>

  <div class="intro-title">
    <p>
      Gérez tous vos projets, programmes et processus, même les plus complexes.
    </p>
      <%= inline_svg_tag("Taskmagic.svg", class:"svg-home",
                                          aria: true,
                                          title: 'Boards-Magic-F',
                                          size: '50% * 50%',
                                          preserve_aspect_ratio: 'xMaxYMax meet',
                                          desc: 'Welcome to Magic Freeboard') %>
  </div>
  <div class="cta">
    <%= link_to "Inscris toi", lists_path, class: "btn-cta" %>
  </div>
</section>