.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}
